.btn {
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 42px;
  padding: 0 10px;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
}

.btn-orange {
  background-color: var(--button-color);
  color: var(--main-bg-color);
  font-weight: 500;
  transition: background-color 0.2s ease-out;
}

.btn-orange:hover {
  background-color: var(--button-hover);
  transition: background-color 0.2s ease-out;
}

.btn-white {
  background-color: var(--main-bg-color);
  color: var(--font-color);
  font-weight: 700;
  transition: background-color 0.2s ease-out;
}
.btn-white:hover {
  background-color: #eaeaea;
  transition: background-color 0.2s ease-out;
}
