.btn {
  background-color: var(--button-color);
  color: var(--main-bg-color);
  border: none;
  border-radius: 5px;
  height: 38px;
  padding: 0 15px;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ed6040d1;
}
