.demo-outer-wrapper,
.demo-inner-wrapper,
.demo-img-inner-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
}

.demo-outer-wrapper {
  width: var(--full-width);
  height: 400px;
  margin-top: 40px;
}

.demo-inner-wrapper {
  justify-content: center;
  width: var(--desktop-width);
  height: 100%;
}

.demo-img-wrapper,
.demo-text-wrapper {
  width: 500px;
  /* border: 2px solid blue; */
  padding: 0 20px;
}

.demo-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.demo-img-inner-wrapper,
.demo-text-wrapper {
  height: 320px;
}

.demo-img-inner-wrapper {
  width: 340px;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--button-color);
  border-radius: 34px;
  position: relative;
  z-index: 1;
}

.meeting {
  width: 85%;
  margin-top: 20px;
  object-fit: contain;
}

.play-btn {
  background-color: var(--main-bg-color);
  border-radius: 40px;
  padding: 10px 10px 10px 15px;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 150px;
}

.demo-btn {
  width: 150px;
  height: 40px;
  background-color: var(--main-bg-color);
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 12.5px;
  transition: background-color 0.2s ease;
}

.demo-btn:hover {
  background-color: rgb(241, 241, 241);
  transition: background-color 0.2s ease;
}

.demo-text-wrapper {
  width: 35%;
}

.demo-text-wrapper,
.demo-btn {
  font-family: var(--body-font);
}

.demo-text-wrapper h1,
.demo-text-wrapper h4,
.demo-text-wrapper p {
  width: 475px;
  font-weight: 600;
}

.demo-text-wrapper h1 {
  font-size: 35px;
  margin: 0 0 40px 0;
}

.demo-text-wrapper h4 {
  font-size: 18px;
  margin-bottom: 0;
}

.demo-text-wrapper p {
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
}

/** Tablet View */
/** Tablet View */
/** Tablet View */

@media (max-width: 1000px) {
  .demo-outer-wrapper,
  .demo-inner-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .demo-outer-wrapper {
    width: var(--full-width);
    height: 400px;
    margin-top: 40px;
  }

  .demo-inner-wrapper {
    width: 1000px;
    height: 100%;
    /* border: 2px solid red; */
  }

  .demo-img-wrapper,
  .demo-text-wrapper {
    width: 350px;
    /* border: 2px solid blue; */
  }

  /* .demo-img-inner-wrapper,
  .demo-text-wrapper {
    height: 320px;
  } */

  .demo-img-inner-wrapper {
    width: 300px;
    height: 265px;
  }

  .meeting {
    width: 78%;
  }

  .play-btn {
    width: 18px;
    height: 18px;
    bottom: 120px;
  }

  .demo-btn {
    width: 130px;
    height: 35px;
    font-size: 12.5px;
  }

  .demo-text-wrapper {
    width: 45%;
  }

  .demo-text-wrapper h1,
  .demo-text-wrapper h4,
  .demo-text-wrapper p {
    width: 435px;
    font-weight: 600;
  }

  .demo-text-wrapper h1 {
    font-size: 34px;
    margin: 0 0 20px 0;
  }

  .demo-text-wrapper h4 {
    font-size: 16px;
  }

  .demo-text-wrapper p {
    font-weight: 400;
    font-size: 15px;
    margin-top: 12px;
  }
} /* End Tablet View*/
