.footer-outer-wrapper,
.footer-inner-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer-outer-wrapper {
  width: var(--full-width);
  height: 400px;
  /* border: 2px solid red; */
  margin: 0 0 450px 0;
}

.footer-inner-wrapper {
  width: 865px;
  height: 80%;
  justify-content: space-between;
  /* border: 2px solid blue; */
  border-bottom: 2px solid #e8e8e8;
}

.credit-wrapper {
  position: absolute;
  bottom: -5px;
  height: 30px;
  margin: 0 auto;
  /* border: 2px solid red; */
}

.credit-wrapper a {
  font-family: var(--body-font);
  text-decoration: none;
  color: var(--font-color);
  font-size: 12px;
  cursor: pointer;
}

.credit-wrapper a:hover {
  text-decoration: underline;
}

/** Tablet View */
/** Tablet View */
/** Tablet View */

@media (max-width: 1000px) {
  .footer-outer-wrapper {
    height: 350px;
  }
  .footer-inner-wrapper {
    justify-content: space-evenly;
  }
} /*End tablet view*/
