.footer-links-outer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 290px;
  width: 145px;
  margin: 0 20px;
  /* border: 2px solid green; */
}

.footer-links-outer-wrapper h3,
.footer-links-outer-wrapper a {
  font-family: var(--body-font);
  text-decoration: none;
  color: var(--font-color);
}

.footer-links-outer-wrapper h3 {
  margin: 20px 0 18px 0;
  font-size: 14px;
}

.footer-links-outer-wrapper a {
  margin: 5px 0;
  font-size: 14px;
  cursor: pointer;
}

.footer-links-outer-wrapper a:hover {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .footer-links-outer-wrapper {
    margin: 0 10px;
    /* border: 2px solid green; */
  }
} /* End Tablet View*/

/** Mobile View 815px */
/** Mobile View 815px */
/** Mobile View 815px */

@media (max-width: 815px) {
  .footer-links-outer-wrapper {
    justify-content: center;
    height: 220px;
    width: 200px;
    align-items: center;
    /* border: 2px solid green; */
  }

  .footer-links-outer-wrapper h3 {
    margin: 5px 0 18px 0;
    font-size: 19px;
  }

  .footer-links-outer-wrapper a {
    margin: 5px 0;
    font-size: 15px;
    cursor: pointer;
  }
} /*End Mobile view 815px*/
