.footer-links-outer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 290px;
  width: 145px;
  margin: 0 20px;
  /* border: 2px solid green; */
}

.footer-links-outer-wrapper h3,
.footer-links-outer-wrapper a {
  font-family: var(--body-font);
  text-decoration: none;
  color: var(--font-color);
}

.footer-links-outer-wrapper h3 {
  font-size: 14px;
  margin: 20px 0 18px 0;
}

.footer-links-outer-wrapper a {
  font-size: 14px;
  margin: 5px 0;
  cursor: pointer;
}

.footer-links-outer-wrapper a:hover {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .footer-links-outer-wrapper {
    margin: 0 5px;
    /* border: 2px solid green; */
  }
} /* End Tablet View*/
