.footer-sub-outer-wrapper,
.footer-sub-outer-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer-sub-outer-wrapper {
  width: 300px;
  height: 80%;
  /* border: 2px solid black; */
}

.footer-sub-outer-wrapper h3,
.footer-sub-outer-wrapper p {
  font-family: var(--body-font);
  color: var(--font-color);
}

.footer-sub-outer-wrapper h3 {
  font-size: 16px;
}

.footer-sub-outer-wrapper p {
  font-size: 14px;
}

.footer-sub-outer-wrapper form {
  border: 2px solid #e8e8e8;
  border-radius: 5px;
  padding: 2px 3px;
  height: 40px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /* outline: none; */
}

/* .footer-sub-outer-wrapper form:focus {
  outline: none;
  border: none;
} */

.input-form {
  border: none;
  height: 30px;
}

.input-form:active {
  border: none;
  border-color: transparent;
}

.input-btn {
  width: 100px;
  height: 35px;
  background-color: var(--button-color);
  color: var(--main-bg-color);
  font-family: var(--body-font);
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease-out;
}

.input-btn:hover {
  background-color: var(--button-hover);
  transition: background-color 0.4s ease-out;
}

/** Tablet View */
/** Tablet View */
/** Tablet View */

@media (max-width: 1000px) {
  .footer-sub-outer-wrapper {
    width: 250px;
    height: 80%;
    /* border: 2px solid black; */
  }

  .footer-sub-outer-wrapper form {
    width: 240px;
    padding: 2px 3px;
    height: 40px;
    /* outline: none; */
  }

  .input-form {
    width: 165px;
    height: 30px;
  }

  .input-btn {
    width: 80px;
    height: 32px;
  }
} /*End Tablet view*/

/** Tablet View 815px */
/** Tablet View 815px */
/** Tablet View 815px */

@media (max-width: 815px) {
  .footer-sub-outer-wrapper {
    width: 300px;
    height: 80%;
    /* border: 2px solid black; */
    align-items: center;
    text-align: center;
    margin-bottom: -15px;
  }

  .footer-sub-outer-wrapper h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .footer-sub-outer-wrapper p {
    font-size: 15px;
    width: 320px;
  }

  .footer-sub-outer-wrapper form {
    border: 2px solid #e8e8e8;
    border-radius: 5px;
    padding: 2px 3px;
    height: 40px;
    width: 290px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .input-form {
    width: 200px;
    height: 30px;
  }
} /*End mobile 815px*/
