.hero-spacer-outer-wrapper,
.hero-spacer-inner-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.hero-spacer-outer-wrapper {
  width: var(--full-width);
  /* border: 2px solid red; */
  height: 215px;
  background-color: var(--main-bg-color);
}

.hero-spacer-inner-wrapper {
  justify-content: space-between;
  width: 1000px;
  /* border: 2px solid blue; */
  margin: 50px auto 0 auto;
}

.hero-spacer-title-wrapper {
  width: 420px;
  /* border: 2px solid green; */
}

.hero-spacer-title,
.hero-spacer-text {
  font-family: var(--body-font);
  color: var(--font-color);
  margin: 0;
}

.hero-spacer-text-wrapper {
  width: 385px;
  /* border: 2px solid green; */
}

.hero-spacer-title {
  font-size: 40px;
  font-weight: 600;
}

.hero-spacer-text {
  margin-top: 10px;
  color: #12151dca;
  font-size: 15.5px;
}

/** Tablet View */
/** Tablet View */
/** Tablet View */

@media (max-width: 1000px) {
  .hero-spacer-inner-wrapper {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    /* border: 2px solid blue; */
    margin: 20px auto 0 auto;
    text-align: center;
  }

  .hero-spacer-title-wrapper {
    width: 360px;
    /* border: 2px solid green; */
  }

  .hero-spacer-title {
    font-size: 36px;
  }

  .hero-spacer-text {
    margin-top: 15px;
    font-size: 16px;
  }
} /*End Tablet View*/
