.hero-outer-wrapper,
.hero-inner-wrapper,
.hero-button-wrapper,
.hero-review-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-outer-wrapper {
  width: var(--full-width);
  height: 530px;
  background-color: var(--secondary-bg-color);
  /* border: 2px solid red; */
  padding-top: 25px;
}

.hero-inner-wrapper {
  width: var(--desktop-width);
  height: 100%;
  margin-top: 25px;
  /* border: 2px solid blue; */
}

.hero-title,
.hero-body-text {
  font-family: var(--body-font);
  color: var(--font-color);
  text-align: center;
}

.hero-title {
  /* border: 2px solid black; */
  width: 900px;
}

.hero-title h1 {
  font-size: 55px;
  margin: 0;
}

.hero-body-text {
  margin-bottom: 25px;
}

.hero-body-text p {
  font-weight: 400;
}

.hero-button-wrapper {
  flex-direction: row;
  justify-content: space-evenly;
  width: 350px;
  height: 50px;
  margin-bottom: 10px;

  /* border: 2px solid black; */
}

.hero-review-wrapper {
  width: fit-content;
  height: 40px;
  margin-top: 15px;
  flex-direction: row;
  /* border: 2px solid black; */
  text-align: center;
  /* font: var(--body-font); */
}

.one-star {
  width: 25px;
  height: 25px;
}

.review-title {
  font-size: 16px;
  font-weight: 600;
  padding-right: 10px;
}

.five-star {
  width: 85px;
  /* border: 1px solid black; */
}

.end-review {
  color: rgba(0, 0, 0, 0.75);
  font-size: 15px;
  padding-left: 10px;
}
