/** Desktop View */
/** Desktop View */
/** Desktop View */

.hero-outer-wrapper,
.hero-inner-wrapper,
.hero-button-wrapper,
.hero-review-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-outer-wrapper {
  width: var(--full-width);
  height: 530px;
  padding-top: 25px;
  background-color: var(--secondary-bg-color);
  /* border: 2px solid red; */
}

.hero-inner-wrapper {
  width: var(--desktop-width);
  height: 100%;
  margin-top: 25px;
  /* border: 2px solid blue; */
}

.hero-title,
.hero-body-text {
  text-align: center;
  font-family: var(--body-font);
  color: var(--font-color);
}

.hero-title {
  width: 900px;
  /* border: 2px solid black; */
}

.hero-title h1 {
  margin: 0;
  font-size: 55px;
}

.hero-body-text {
  width: 460px;
  margin-bottom: 25px;
}

.hero-body-text p {
  font-weight: 400;
}

.hero-button-wrapper {
  flex-direction: row;
  justify-content: space-evenly;
  width: 350px;
  height: 50px;
  margin-bottom: 10px;
  /* border: 2px solid black; */
}

.hero-review-wrapper {
  flex-direction: row;
  width: fit-content;
  height: 40px;
  margin-top: 15px;
  text-align: center;
  /* border: 2px solid black; */
}

.one-star {
  width: 25px;
  height: 25px;
}

.review-title {
  padding-right: 10px;
  font-size: 16px;
  font-weight: 600;
}

.five-star {
  width: 85px;
  /* border: 1px solid black; */
}

.end-review {
  padding-left: 10px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.75);
}

/** Small Desktop 1150px View */
/** Small Desktop 1150px View */
/** Small Desktop 1150px View */

@media (max-width: 1150px) {
  .hero-outer-wrapper {
    height: 385px;
    padding-top: 15px;
    /* border: 2px solid red; */
  }

  .hero-inner-wrapper {
    width: 950px;
    height: 100%;
    margin: 0;
    /* border: 2px solid blue; */
  }

  .hero-title h1 {
    margin: 0;
    font-size: 45px;
  }
} /* End small desktop view 1150px*/

/** Tablet View 1000px*/
/** Tablet View 1000px*/
/** Tablet View 1000px*/

@media (max-width: 1000px) {
  .hero-outer-wrapper {
    height: 310px;
    /* border: 2px solid red; */
  }

  .hero-inner-wrapper {
    width: 950px;
    height: 100%;
    margin: 0;
    /* border: 2px solid blue; */
  }

  .hero-title {
    width: 100%;
    /* border: 2px solid black; */
  }

  .hero-title h1 {
    margin: 0;
    font-size: 36px;
  }

  .hero-body-text {
    width: 345px;
    margin-bottom: 5px;
  }

  .hero-body-text p {
    font-size: 16px;
  }

  .hero-button-wrapper {
    justify-content: space-evenly;
    width: 320px;
    height: 50px;
    margin-bottom: 10px;
  }

  .hero-review-wrapper {
    height: 40px;
    margin-top: 0px;
  }

  .one-star {
    width: 20px;
    height: 20px;
  }

  .review-title {
    font-size: 14px;
  }

  .five-star {
    width: 75px;
  }

  .end-review {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.75);
  }
} /*End Tablet View*/

/** Mobile View 475px; */
/** Mobile View 475px; */
/** Mobile View 475px; */

@media (max-width: 475px) {
  .hero-title h1 {
    font-size: 32px;
  }

  .one-star {
    width: 18px;
    height: 18px;
  }

  .review-title {
    padding-right: 10px;
    font-size: 14px;
    font-weight: 600;
  }

  .five-star {
    width: 75px;
    /* border: 1px solid black; */
  }

  .end-review {
    padding-left: 8px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.75);
  }
} /*End Mobile View*/
