.nav-outer-wrapper,
.nav-inner-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title-wrapper h1,
.link,
.signin,
.get-started-btn {
  color: var(--font-color);
  font-family: var(--body-font);
}

.nav-outer-wrapper {
  width: var(--full-width);
  height: 50px;
  background-color: var(--secondary-bg-color);
  /* border: 2px solid red; */
  position: fixed;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.nav-inner-wrapper {
  width: var(--desktop-width);
  height: 100%;
  /* border: 2px solid blue; */
}

.title-wrapper {
  margin: 0 92px;
}

.title-wrapper h1 {
  font-family: var(--heading-font);
  font-weight: 800;
}

.link-wrapper {
  /* border: 2px solid blue; */
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-right: 125px;
}

.link,
.signin {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.link:hover,
.signin:hover {
  color: #12151dc1;
  text-decoration: underline;
}

.signin {
  margin-right: 10px;
}

.nav-end-wrapper {
  width: 220px;
  margin-left: 200px;
  margin-right: 75px;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-bg-color);
}
