.product-services-outer-wrapper,
.product-services-inner-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.product-services-outer-wrapper {
  width: var(--full-width);
  height: 320px;
  padding-bottom: 0px;
  /* border: 2px solid red; */
}

.product-services-inner-wrapper {
  justify-content: space-between;
  width: 1100px;
  height: 100%;
  /* border: 2px solid blue; */
}

/** Tablet View */
/** Tablet View */
/** Tablet View */

@media (max-width: 1000px) {
  .product-services-inner-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 900px;
    height: 100%;
    /* border: 2px solid blue; */
  }
} /*End Tablet View*/

/** Mobile View 800px */
/** Mobile View 800px */
/** Mobile View 800px */

@media (max-width: 800px) {
  .product-services-outer-wrapper,
  .product-services-inner-wrapper {
    flex-wrap: wrap;
    align-items: center;
  }

  .product-services-outer-wrapper {
    height: 540px;
    /* border: 2px solid red; */
  }

  .product-services-inner-wrapper {
    width: 650px;
    height: 100%;
    justify-content: space-evenly;
    /* border: 2px solid blue; */
  }
} /* End Mobile View 800*/

/** Mobile View 550px */
/** Mobile View 550px */
/** Mobile View 550px */

@media (max-width: 550px) {
  .product-services-outer-wrapper,
  .product-services-inner-wrapper {
    flex-direction: column;
    flex-wrap: nowrap;
    /* Inherits justify content and align items from larger screen sizes */
  }

  .product-services-outer-wrapper {
    height: 800px;
    /* border: 2px solid red; */
  }

  .product-services-inner-wrapper {
    width: 650px;
    height: 100%;
    justify-content: space-evenly;
    /* border: 2px solid blue; */
  }
} /* End Mobile View 550*/
