.quantity-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 230px;
  /* border: 2px solid black; */
}

.quantity-wrapper h1,
.quantity-wrapper p {
  font-family: var(--body-font);
  text-align: center;
  color: var(--font-color);
}

.quantity-wrapper h1 {
  font-size: 55px;
  font-weight: 600;
  margin: 0;
}

.quantity-wrapper p {
  font-size: 16px;
  color: #12151db0;
  line-height: 25px;
}

/** Tablet View */
/** Tablet View */
/** Tablet View */

@media (max-width: 1000px) {
  .quantity-wrapper {
    width: 220px;
    height: 200px;
    /* border: 2px solid black; */
  }

  .quantity-wrapper h1 {
    font-size: 52px;
  }

  .quantity-wrapper p {
    font-size: 15px;
    line-height: 25px;
  }
} /*End Tablet View*/

/** Mobile View 675px */
/** Mobile View 675px */
/** Mobile View 675px */

@media (max-width: 675px) {
  .quantity-wrapper {
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 150px;
    /* border: 2px solid black; */
  }
} /*End Mobile 675 View*/
