:root {
  /* Fonts */
  --heading-font: "Albert Sans", sans-serif;
  --body-font: "Montserrat", sans-serif;

  /* Light Mode Colors */
  --main-bg-color: #fff;
  --secondary-bg-color: #f8f7f1;
  --tertiary-bg-color: #286f6c;
  --quaternary-bg-color: #edb33c;
  --button-color: #ed6140;
  --button-hover: #ed6040c2;
  --button-active: #f96342;
  --font-color: #12151d;

  /*  Screen sizes*/
  --full-width: 100vw;
  --desktop-width: 1440px;
}

/* .App {
  
} */
